body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.col-ct {
  flex: 0 0 25%;
  width: 100%;
}
.type-3229 h1 {
  margin: 0;
  padding: 105px 60px 55px 65px;
  color: #000;
  font-size: 50px;
  line-height: 1.16;
  letter-spacing: -0.01em;
  font-weight: 400;
}
.type-3229 .list-item {
  display: flex;
  flex-wrap: wrap;
  padding-left: 65px;
  padding-bottom: 110px;
}
.type-3229 .list-item .item {
  display: flex;
}
.type-3229 .list-item .item h2 {
  margin: 0;
  margin-right: 23px;
  margin-top: -13px;
  font-size: 90px;
  font-family: serif;
}
.type-3229 .list-item .item .left {
  padding-right: 80px;
}
.type-3229 .list-item .item .left h3 {
  margin: 0;
  color: #000;
  font-size: 25px;
  line-height: 1.32;
  font-weight: 500;
}
.type-3229 .list-item .item .left p {
  margin-top: 6px;
  color: #000;
  line-height: 25px;
  font-size: 18px;
}
